//- List of element displayed as a table
mixin tableViewHeader(pageId)
  +mainContainer({pageId: pageId})
    //- list title
    h1(translate)=gData.pages[pageId].title
    //- Messages about the last changes performed on element of the list
    +twbsUiAlertTables
    div(class="row mb2")
      //- actions tabs that display on top of the list page
      +tabsActions(gData.pages[pageId].menuTop)
    div(class="row")
      block

//- Insertable block with a header
mixin tableView(pageId)
  +tableViewHeader(pageId)
    div(class="table-list")
      +angularTables(pageId)