//- Main page container
mixin mainWrapper
  div(class="page-content-wrapper")
    div(class="page-content")
      div(ui-view='', class="main-container")

//- The container of the ui-view loaded main template
mixin mainContainer(page)
  - page = page || {};
  - page.wrapperClass = page.wrapperClass || '';
  - var pageId = (page.id) ? 'page-' + page.id : '';
  // UI view main container
  section(class="#{page.id} main-container #{page.wrapperClass}")
    //- global page wide alert zone
    +twbsUiAlertPage
    block

//- The containers of the ui-view nested states
mixin subContainer(section)
  - section = section || {};
  - var sectionId = (section.id) ? 'section-' + section.id : '';
  // UI view sub container
  section(class="sub-container #{sectionId}")
    block
