//- Main page container
mixin mainWrapper
  div(class="page-content-wrapper")
    div(class="page-content")
      div(ui-view='', class="main-container")

//- The container of the ui-view loaded main template
mixin mainContainer(page)
  - page.wrapperClass = page.wrapperClass || '';
  section(class="page-#{page.id} container main-container #{page.wrapperClass}")
    //- global page wide alert zone
    +twbsUiAlertPage
    block