$arrow-size: 40px;
$arrow-factor: 0.5;
$arrow-border: 4px;
$arrow-col-border: $col-gold;

$header-bar: 50px;
$form-field-height: 45px;

$subheader-height: 200px;
$subheader-height-mobile: 100px;

// Rounded icon element
$rounded-icon-size: 40px;
$rounded-icon-color: white;
$rounded-icon-bk-color: #DDD;
