mixin fieldsWrapper(formId, fieldId, stateId, field)
  -  field.class = field.class || '';
  div(class='clearfix #{field.class} group-#{fieldId} field-group', ng-show!=field.ngShow)
    - //- label is inherited from global field label (used in another context)
    - //- whereas in the new context label are set as a string
    - //- so we use this quick and dirty way to prevent object label from applying
    - //- @todo uniformise label handling between fields and toolbars
    - field.label = (!_.isObject(field.label)) ? field.label : null;
    - field.labelClass = field.labelClass || '';

    if field.label
      div(class="field-group-label fs1 #{field.labelClass} field-type-#{field.type}")=field.label

    if field.fieldsInstances
      each fieldId in field.fieldsInstances
        //- fieldsWrapper is called by fieldById
        //- and call it's caller to insert wrapped fields
        +fieldById(formId, stateId, fieldId)