//- Build a form from the field instances sub keys
mixin formBuilder(formId, stateId)
  - var formData = util.setFormDefaults(formId, stateId);
  - console.log('\n\nFormBuilder formId : ', formId);
  //- h1(class="form-title")=formData.title
  +formWrapper(formId, stateId)
    if formData.fieldsInstances
      //- we ouput all fields that belongs to this form
      each fieldId in formData.fieldsInstances
        +fieldById(formId, stateId, fieldId)