@mixin mixy_form_formWrapper {
  .form-wrapper {
    .field-errors {
      //- in absolute the input do not change
      position: absolute;
    }
  }
}

@mixin mixy_form_imagesPlaceholder(
  $width: 100%,
  $height: 250px,
  $background-color: #DDD,
  $border-color: #AAA,
  $icon-color: #AAA,
  $icon-size: 90px
) {
  .mixy-form {
    .image-uploader {
      .image-placeholder {
        width: $width;
        height: $height;
        background-color: $background-color;
        border: solid 1px $border-color;
        .upload-icon {
          color: $icon-color;
          font-size: $icon-size;
          line-height: $height;
        }
      }
    }
  }
}

@mixin mixy_form {
  @include mixy_form_formWrapper;
  @include mixy_form_imagesPlaceholder;
}