//- https://material.angularjs.org
//- tooltip global settings should be set at form level
mixin twbsTooltip(tooltip, options)
  - options = options || {};
  - options.popupDelay = options.popupDelay || 500;
  div(class="twbs-tooltip-symbol inline")&attributes(attributes)
    i(class="fa fa-question-circle", uib-tooltip=tooltip, tooltip-popup-delay=options.popupDelay)
