mixin modalForm(data)
  - data = data || {};
  - data.ngBinds = data.ngBinds || {};
  - data.ngBinds.title = data.ngBinds.title || 'modal.modal.title';
  - data.closeIcon = data.closeIcon || 'fa fa-times';
  
  .modal-inner(class="p2 #{data.id}")
    .modal-header.row
      h3(class="modal-title text-center", ng-bind=data.ngBinds.title)
      div(class="pull-right cpointer close-modal #{data.closeIcon}", ng-click="modal.fn.cancel()")
    .modal-body
      block
    //- .modal-footer
    //-   button.btn.btn-primary(ng-click="modal.ok()") OK
    //-   button.btn.btn-warning(ng-click="modal.cancel()") Cancel

//- multi state form where the state is displayed only when
//- the state is current
mixin modalStateWrapper(state)
  div(class="", ng-show="modal.fn.isState('#{state}')")
    block

//- automatic modal, that output the crud states sub forms
mixin modalCrud(formId)
  //- we list the available states in a simple crud modal
  - var states = ['create', 'delete', 'edit'];
  //- not used but could be useful to set common properties to all crud modals
  - var modalSettings = gData.blocks.modalCrud;
  +modalForm(formData)
    //- We output all cruds states
    each stateId in states
      - var formData = util.setFormDefaults(formId, stateId);
      - console.log('\n the MODAL FORM DATA are', formData);
      +modalStateWrapper(stateId)
        //- form state sub title disabled
        //- if (formData.title)
        //-   h3(class="modal-title text-center")=formData.title
        +formBuilder(formId, stateId)
