
//- https://material.angularjs.org/latest/api/directive/mdSelect
mixin fieldSelectMd(formId, fieldId, stateId)
  - var field = util.setFieldDefaults(formId, fieldId, stateId);
  - var form = util.setFormDefaults(formId, stateId);
  - field.ngModelField = util.setDefaultNgModel(field, form);
  - var options = (field.options) ? 'opt in ' + field.options : false;
  +fieldGroup(field)
    md-input-container
      md-select(
        ng-model=field.ngModelField,
        placeholder=field.placeholder)
        md-option(ng-value='opt', ng-repeat=options) {{ opt }}