//- photo that represent the user
mixin imageField(formId, fieldId, stateId)
  - var field = util.setFieldDefaults(formId, fieldId, stateId);
  - var form = util.setFormDefaults(formId, stateId);
  - console.log('\nthe field is ', field);
  +fieldGroup(field)
    img(src=field.src,
        class="img-responsive mb1")
    //- button( class="btn btn-block",
    //-         ng-file-select,
    //-         ng-model=field.ngModelField)=field.submit.label