//- Libraries of reusable jade component

include html/_elements

//- Forms elements by types
include form/fieldsType/_fieldsInput
include form/fieldsType/_fieldsTextArea
include form/fieldsType/_fieldsSelect
include form/fieldsType/_fieldsCheckbox
include form/fieldsType/_fieldsRadioButton
include form/fieldsType/_fieldsButtons
include form/fieldsType/_fieldsMisc
include form/fieldsType/_fieldsImage

//- field insertion and grouping
include form/_fieldsWrapper
include form/_fieldsById
include form/_formsError
include form/_fields
include form/_formBuilder
include form/_formWrapper
include form/_wrappers
//- List views, tables...
include list/_tables
include list/_lists

//- layout elements, wrappers and containers
include layout/_wrappers

//- Ui elements
include ui/_buttons
include ui/_elements
include ui/_tabs

// twbs
include ui/_twbs
include ui/_twbsAlerts
include ui/_twbsDropdowns
include ui/_twbsModal
include ui/_twbsAccordion

include ui/_breadcrumb
include ui/_pageElements
include ui/_dashboardElements
include ui/_mdAngular

include table/_smartTable.jade

